.outer {
  width: 30%;
  margin:10%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.text {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
